<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Agenda</title>
      <link rel="stylesheet" type="text/css" href="./assets/styles/main.scss"><!-- do not remove this line! -->
  </head>
  <body class="bg-brand-bg text-brand-body-color font-base">
    <main class="p-4 md:p-12">
      <h2 class="agenda-title col-span-full">Programa:</h2>

      <!-- Aquí se inyecta dinámicamente el contenido de agenda.json -->
      <section id="agenda" class="grid gap-8 md:grid-cols-6 xl:grid-cols-8"></section>
    </main>

    <script type="module" src="./assets/scripts/main.js"></script><!-- do not remove this line! -->
  </body>
</html>
