<footer class="footer">
      <nav class="nav nav-pills flex-column flex-sm-row footer__nav">
        <div class="footer__logo">
          <img src="./assets/images/logo-round.png" alt="Futuro Redondo Logo">
        </div>
        <a class="flex-sm-fill text-sm-center nav-link active" aria-current="page" href="/">Inicio</a>
        <a class="flex-sm-fill text-sm-center nav-link" href="/speakers">Ponentes</a>
        <a class="flex-sm-fill text-sm-center nav-link" href="/about">Sobre las jornadas</a>
        <a class="flex-sm-fill text-sm-center nav-link"  href="/contact">Contacto</a>
        <div class="d-flex">
          <a class="flex-sm-fill text-sm-center nav-link" href="#" aria-label="Google+"><i class="fa-brands fa-google-plus-g"></i></a>
          <a class="flex-sm-fill text-sm-center nav-link" href="#" aria-label="Instagram"><i class="fa-brands fa-instagram"></a>
          <a class="flex-sm-fill text-sm-center nav-link"  href="#" aria-label="Twitter"><i class="fa-brands fa-twitter"></i></a>
        </div>
      </nav>
      <!-- <div class="footer__cta">
        <a href="#" class="footer__button btn btn-secondary">Sé parte del futuro redondo</a>
      </div> -->
  </footer>