/* Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Slab:wght@700&display=swap');
/* @import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


/* Utilidades Tailwind personalizadas (@apply, theme())
  Tailwind + PostCSS lo procesan
*/
.btn {
  @apply text-white font-bold py-2 px-4 rounded;
  background-color: theme('colors.brand.primary');
}

@layer components {
  .agenda-title {
    @apply uppercase text-brand-primary font-sans font-bold;
  }

  .agenda-box {
    @apply p-4 my-2 rounded-lg font-sans;
  }

  .agenda-grid {
    @apply grid gap-4;
    grid-template-columns: 1fr;
  }

  @media (min-width: 768px) {
    .agenda-grid {
      grid-template-columns: repeat(2, 1fr);
    }
  }

  @media (min-width: 1200px) {
    .agenda-grid {
      grid-template-columns: 1fr repeat(3, 1fr);
    }

    .col-time {
      grid-column: 1 / 2;
    }

    .col-1 {
      grid-column: 2 / 3;
    }

    .col-2 {
      grid-column: 3 / 4;
    }

    .col-3 {
      grid-column: 4 / 5;
    }
  }

  .agenda-time {
    @apply font-bold text-brand-text text-sm md:text-base;
  }

  .agenda-slot {
    @apply agenda-box bg-brand-secondary text-white;
  }

  .talk-card {
    @apply agenda-box bg-brand-cards text-white;
  }

  .agenda-title {
    @apply uppercase text-brand-primary font-sans font-bold;
  }

  .agenda-box {
    @apply p-4 my-2 rounded-lg font-sans;
  }
}


@layer utilities {
  /* Fallback para navegadores sin soporte de dvh */
  .h-90vh {
    height: 90vh;
  }

  .h-80vh {
    height: 80vh;
  }

  /* Soporte para navegadores modernos con dvh */
  @supports (height: 100dvh) {
    .h-80dvh {
      height: 80dvh;
    }

    .h-85dvh {
      height: 85dvh;
    }
  }
}


.nav-transparent {
  @apply bg-transparent z-50 transition-all duration-300;
}

.nav-solid {
  @apply bg-brand-primaryDark shadow-md backdrop-blur z-[999] transition-all duration-300;
}

.active {
  @apply text-brand-secondary;
}